@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
     height: 100%;
     width: 100%;
}

body {
     display: flex;
}

.header {
     display: inline
}

.form {
     width: 50%;
     background: #fff;
     border: 0.5px solid #999;
     border-radius: 8px;
     color: #46a;
     font-family: 'Titillium Web', sans-serif;
     font-size: 1rem;
     margin: auto;
     padding: 1.5rem;
     position: relative;
     text-decoration: none;
}

h1 {
     color: #46a;
     font-size: 2rem;
     font-weight: 400;
     margin-bottom: 1rem;
}

h2 {
     font-size: 1rem;
     font-weight: 300;
     margin-bottom: 0.5rem;
}

.button {
     background-color: #41cd52;
     color: #fff;
     padding: 1rem;
     border-radius: 8px;
     text-align: center;
     font-weight: 600;
     cursor: pointer;
     margin-top: 1rem;
}

.button:hover {
     background-color: #2fb841;
}

.button:active {
     background-color: #25a035;
}
